{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":71,"column":0},"end":{"row":71,"column":18},"action":"remove","lines":["ssh-import-id==5.7"],"id":2},{"start":{"row":70,"column":11},"end":{"row":71,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":360,"scrollleft":0,"selection":{"start":{"row":70,"column":11},"end":{"row":70,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":26,"state":"start","mode":"ace/mode/text"}},"timestamp":1573203998887,"hash":"6dca30c5b53a5ef3c349ab34765c7fe34b38bf58"}