{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":13,"column":0},"end":{"row":13,"column":22},"action":"remove","lines":["command-not-found==0.3"],"id":2},{"start":{"row":12,"column":15},"end":{"row":13,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":12,"column":15},"end":{"row":12,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1573203661057,"hash":"e64c9dd9839d4d47f5c33f05c971172647e7d690"}