{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":74,"column":0},"end":{"row":74,"column":9},"action":"remove","lines":["ufw==0.36"],"id":2},{"start":{"row":73,"column":15},"end":{"row":74,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":360,"scrollleft":0,"selection":{"start":{"row":73,"column":15},"end":{"row":73,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":26,"state":"start","mode":"ace/mode/text"}},"timestamp":1573204046902,"hash":"ca20bb99b3148c822390ac9e2dc002bd865a3b50"}