/*------------Navbar------------*/

nav {
    background-color: #404040;
    padding-left: 50px;
    padding-right: 50px;
}

nav .brand-logo {
    font-size: 36px;
}


/*------------Index Page------------*/

#opening_banner {
    background-image: linear-gradient(to bottom right, rgba(76, 76, 76, 0.3), rgba(224, 224, 224, 0.3)), url('../images/index.jpg');
    border-radius: 10px;
    font-weight: bold;
    background-size: cover;
    height: 35vh;
    margin-left: 40px;
    margin-top: 25px;
    margin-right: 40px;
    padding-top: 63px;
}

#recipe_carousel {
    margin-left: 40px;
    margin-right: 40px;
}

#carousel_image {
    width: 400px;
    height: 350px;
}

#carousel_container {
    background-color: #404040;
}

.carousel.carousel-slider .carousel-item {
    width: 100%;
    border-radius: 10px;
}

.links {
    color: #404040;
    font-weight: bold;
}

.row .col.s12 {
    padding: 0;
}

h1 {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
}

h3 {
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}


/*------------Index Page------------*/

.btn,
.btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #404040;
}


/*------------Recipe Page------------*/

#recipe_prep {
    padding-right: 11.25px;
    padding-left: 11.25px;
}

#leave_comment {
    margin-top: 50%;
}

.row {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card {
    height: 80vh;
    display: block;
}

.card .card-action {
    text-align: center;
}

.card .card-content p {
    text-align: center;

}

.card .card-image img {
    height: 460px;
    width: 440px;
    border-radius: 2.5%;
    display: inline-block;
    margin-top: 15px;
}

.card .card-image .card-title {
    padding-left: 145px;
}

.comment_section {
    color: #404040;
    margin: 0px;
}


/*------------Create Recipe Page------------*/

#create_recipe_icons {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
    padding-right: 0px;
}

#create_recipe_input {
    padding-right: 100px;
    padding-left: 0px;
}

#ingredients, #preparation {
    height: 10rem;
    border: solid;
    border-color: #9e9e9e;
}

/*------------Footer------------*/

#page-footer {
    background-color: #404040;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0px;
}

#page-footer .row {
    margin: 0px;
}

#footer-logo p {
    font-size: 28px;
    color: #fff;
    margin: 0;
}

#footer-copyright p {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    margin: 0;
    text-align: center;
    padding-top: 5px;
}

#footer-list {
    display: flex;
    margin: 0px;
    float: right;
}

.footer-icon {
    padding-left: 15px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}
