{% extends 'base.html' %} {% block content %}

<div class="row">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
        <!--Recipe Title-->
        <div class="row">
            <div class="create_recipe_icons input-field col s1">
                <i class="fas fa-utensils"></i>
            </div>
            <div class="create_recipe_input input-field col s11">
                <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}">
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!--Recipe Origin-->
        <div class="row">
            <div class="create_recipe_icons input-field col s1">
                <i class="fas fa-globe-americas"></i>
            </div>
            <div class="create_recipe_input input-field col s11">
                <select id="origins" name="recipe_origin">
                  <option value="" disabled selected>Recipe Origin</option>
                  {% for origin in origins %}
                      {% if origin.recipe_origin == recipe.recipe_origin %}
                      <option value="{{origin.recipe_origin}}" selected >{{origin.recipe_origin}}</option>
                      {% else %}
                       <option value="{{origin.recipe_origin}}">{{origin.recipe_origin}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </div>
        </div>
        <!--Preparation Time-->
        <div class="row">
            <div class="create_recipe_icons input-field col s1">
                <i class="fas fa-clock"></i>
            </div>
            <div class="create_recipe_input input-field col s11">
                <select name="recipe_time">
                  <option value="" disabled selected>Preparation Time</option>
                  {% for t in time %}
                      {% if t.recipe_time == recipe.recipe_time %}
                      <option value="{{t.recipe_time}}" selected >{{t.recipe_time}}</option>
                      {% else %}
                       <option value="{{t.recipe_time}}">{{t.recipe_time}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </div>
        </div>
        <!--Recipe Serving-->
        <div class="row">
            <div class="create_recipe_icons input-field col s1">
                <i class="fas fa-user-friends"></i>
            </div>
            <div class="create_recipe_input input-field col s11">
                <select name="recipe_serving">
                  <option value="" disabled selected>No. of Servings</option>
                  {% for s in serving %}
                      {% if s.recipe_serving == recipe.recipe_serving %}
                      <option value="{{s.recipe_serving}}" selected >{{s.recipe_serving}}</option>
                      {% else %}
                       <option value="{{s.recipe_serving}}">{{s.recipe_serving}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </div>
        </div>
        <!--Recipe Difficulty-->
        <div class="row">
            <div class="create_recipe_icons input-field col s1">
                <i class="fas fa-medal"></i>
            </div>
            <div class="create_recipe_input input-field col s11">
                <select name="recipe_difficulty">
                  <option value="" disabled selected>Difficulty</option>
                  {% for d in difficulty %}
                      {% if d.recipe_difficulty == recipe.recipe_difficulty %}
                      <option value="{{d.recipe_difficulty}}" selected >{{d.recipe_difficulty}}</option>
                      {% else %}
                       <option value="{{d.recipe_difficulty}}">{{d.recipe_difficulty}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </div>
        </div>
        <!--Recipe Description-->
        <div class="row">
            <div class="create_recipe_icons input-field col s1">
                <i class="fas fa-book-open"></i>
            </div>
            <div class="create_recipe_input input-field col s11">
                <input value="{{recipe.recipe_description}}" id="recipe_description" name="recipe_description" type="text" class="validate">
                <label for="recipe_description">Recipe Description</label>
            </div>
        </div>
        <!--Recipe Image-->
        <div class="row">
            <div class="create_recipe_icons input-field col s1">
                <i class="fas fa-image"></i>
            </div>
            <div id=recipe_pic class="create_recipe_input input-field col s11">
                {% if recipe.recipe_image %}
                <img src="{{recipe.recipe_image}}">
                {% endif %}
                <input value="{{recipe.recipe_image}}" id="recipe_image" name="recipe_image" type="text" class="validate">
                <label for="recipe_image">Recipe Image (URL)</label>
            </div>
        </div>
        <!--Recipe Ingredients-->
        <div class="row">
            <div class="create_recipe_icons input-field col s1">
                <i class="fas fa-cheese"></i>
            </div>
            <div class="create_recipe_input input-field col s11">
                <input value="{{recipe.recipe_ingredients}}" id="recipe_ingredients" name="recipe_ingredients" type="text" class="validate">
                <label for="recipe_ingredients">Recipe Ingredients</label>
            </div>
        </div>
        <!--Recipe Preparation-->
        <div class="row">
            <div class="create_recipe_icons input-field col s1">
                <i class="fas fa-tasks"></i>
            </div>
            <div class="create_recipe_input input-field col s11">
                <input value="{{recipe.recipe_preparation}}" id="recipe_preparation" name="recipe_preparation" type="text" class="validate">
                <label for="recipe_preparation">Recipe Preparation</label>
            </div>
        </div>
        <!--Submit Recipe-->

        <div class="row">
            <a class="btn waves-effect waves-light" href="{{url_for('view_recipe', recipe_id=recipe._id)}}">Back</a>
            <button class="btn waves-effect waves-light" type="submit" name="action">Update
                <i class="material-icons right"></i>
            </button>
        </div>
    </form>
</div>

{% endblock %}
