{% extends 'base.html' %} {% block content %}

<!--Displays the all available info on a single recipe-->

<div class="row">
  <!---Recipe Cards--->
  <div class="col s6 m6">
    <div class="card">
      <div class="center card-image">
        <img src="{{recipe.recipe_image}}"></img>
        <span class="card-title">{{recipe.recipe_name}}</span>
      </div>
      <div class="card-content">
        <p>{{recipe.recipe_description}}</p>
      </div>
      
      <!-- REQUIRE SIGN IN TO LIKE/DISLIKE -->
      {% if not 'username' in session %}
      <div class="card-action">
        <a href="#">Views {{recipe.recipe_views}}</a>
        <a href="#">Likes {{recipe.recipe_likes}}</a>
        <a href="#">Dislikes {{recipe.recipe_dislikes}}</a>
      </div>
      <div class="card-action">
        <p>You must be logged in to like/dislike a recipe.<a href="{{ url_for('login') }}"> Sign In </a></p>
      </div>
      
      {% else %}
      <div class="card-action">
        <a href="#">Views {{recipe.recipe_views}}</a>
        <a id="add_like" href="{{ url_for('add_like', recipe_id=recipe._id) }}">Likes {{recipe.recipe_likes}}</a>
        <a id="add_dislike" href="{{ url_for('add_dislike', recipe_id=recipe._id) }}">Dislikes {{recipe.recipe_dislikes}}</a>
      </div>
      {% endif %}
    </div>
  </div>

  <!---Recipe Comments--->
  <div class="col s6 m6">
    <div class="card">
      <h3 class="comment_section">Comments</h3>
      {% if recipe.recipe_comments %}

      <!---Display Comments--->
      {% for comment in recipe.recipe_comments %}
      <div class="card-content">
        <p>
          {{ comment }}
        </p>
      </div>
      {% endfor %} {% else %}
      <!---If There Are No Comments--->
      <div class="card-content">
        <p>No comments yet.</p>
      </div>
      {% endif%}

      <!---Write a Comment--->

      <!-- REQUIRE SIGN IN TO POST A COMMENT -->
      {% if not 'username' in session %}
      <div class="card-content">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <p>You must be logged in to comment.<a href="{{ url_for('login') }}"> Sign In </a></p>
            </div>
          </form>
        </div>
      </div>

      {% else %}
      <div class="card-content">
        <div class="row">
          <form action="/view_recipe/<recipe_id>" method="post" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="comment"></textarea>
                <label for="textarea1">Leave a comment...</label>
                <a id="add_comment" href="{{ url_for('add_comment', recipe_id=recipe._id) }}" type="submit" name="action">
                  Send
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!---Recipe Preparation & Ingredients--->
<div id="recipe_prep" class="row">
  <div class="col s12 m12">
    <ul class="collapsible" data-collapsible="accordion">

      <!---Preparation--->
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Preparation</div>
        <!--Nested for loop in order to display all preparation steps in the database array-->
        {% for preparation in recipe.recipe_preparation %}
        <div class="collapsible-body"><span>
        {{ preparation  }}
        </span></div>
        {% endfor %}
      </li>

      <!---Ingredients--->
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Ingredients</div>
        <!--Nested for loop in order to display all ingredientes in the database array-->
        {% for ingredient in recipe.recipe_ingredients %}
        <div class="collapsible-body"><span>
        {{ ingredient  }}
        </span></div>
        {% endfor %}
      </li>
    </ul>
    {% endblock %}
  </div>
</div>
